.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.counter-div {
    width: 40rem;
    border: 1px solid grey;
    padding:  1rem;
    background-color:lightblue;
    color: white;
    text-align: center;
    border-radius: 5px;

}

.counter-div > * {
    margin-bottom: 2rem;

}

.count{
    font-size: 4rem;
}

.buttons button{
    padding: 1rem;
    margin: 0 10px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 8px;

}

buttons.subtract{
    background-color: orangered;
}